#header {
    color: rgb(255, 255, 255);
    height: 500px;
    text-align: center;
    line-height: 500px;

    background-image: url("img/Background.jpg");
    background-size: cover;
    background-position: center;

    text-shadow: 10px 0px 10px #000000;
    font-size: 2em;
}

h1 {
    margin: 0px;
}

body {
    margin: 0px;
}

#navbar {
    width: 100%;
    background-color: #000000;
    opacity: 0.7;
    position: fixed;
    top: 0;
}

#top-menu {
    display: flex;
    align-items: flex-start;
    justify-content: end;
}

#navbar a {
    color: #ffffff;
    text-decoration: none;
    /* display: block; */
    height: 50px;
    line-height: 50px;
    opacity: 1;
}

#navbar ul{
    list-style: none;
    padding: 0px;
    margin: 0px;
}

#navbar li{
    /* background-color: #ececec; */
    width: 200px;
    text-align: center;
    position: relative;
}

#footer {
    text-align: center;
    color: white;
    background-color: black;
    height: 50px;
    line-height: 50px;
}